{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
    </footer>

    <!-- Used for dialogs, screen overlays, etc. -->
    {% block extra_body %}{% endblock %}

    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
